<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - InventoryControl</title>
    <link rel="stylesheet" href="~/css/main.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    @RenderSection("Styles", required: false)
</head>
<body>
    <header>
        <div style="display:flex">
            <img src="~/images/inventory.png" style="max-width:64px;margin-right:50px;margin-left:50px;" />
            <h2>Inventory Control System</h2>
        </div>
        
    </header>

    <section>
        <div class="tab">
            <a href="@Url.Action("Index", "Dashboard", new {Area="INV" })" class="navbar-link" id="link-dashboard"><i class="fa fa-bar-chart"></i> Dashboard</a>
            <a href="@Url.Action("Index", "Permintaan", new {Area="INV" })" class="navbar-link" id="link-permintaan"><i class="fa fa-book"></i> Permintaan</a>
            <a href="@Url.Action("Index", "MstItem", new {Area="INV" })" class="navbar-link" id="link-barang"><i class="fa fa-cubes"></i> Master Barang</a>
            <a href="@Url.Action("Index", "MstSatuan", new {Area="INV" })" class="navbar-link" id="link-satuan"><i class="fa fa-filter"></i> Master Satuan</a>
            <a href="@Url.Action("Index", "Apriori", new {Area="INV" })" class="navbar-link" id="link-apriori"><i class="fa fa-globe"></i> Apriori</a>
            @*<button class="tablinks" onclick="openCity(event, 'PermintaanBidang')" id="defaultOpen">Pengeluaran Barang</button>
        <button class="tablinks" onclick="openCity(event, 'Prediksi')">Prediksi</button>
        <button class="tablinks" onclick="openCity(event, 'StokBarang')">Stok Barang</button>
        <button class="tablinks" onclick="openCity(event, 'MasterBarang')">Master Barang</button>
        <button class="tablinks" onclick="openCity(event, 'MasterSatuan')">Master Satuan</button>*@
        </div>

        <div class="content-wrapper">
            @RenderBody()
        </div>

        <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
        <script type="text/javascript">
            function openCity(evt, cityName) {
                var i, tabcontent, tablinks;
                tabcontent = document.getElementsByClassName("tabcontent");
                for (i = 0; i < tabcontent.length; i++) {
                    tabcontent[i].style.display = "none";
                }
                tablinks = document.getElementsByClassName("tablinks");
                for (i = 0; i < tablinks.length; i++) {
                    tablinks[i].className = tablinks[i].className.replace(" active", "");
                }
                document.getElementById(cityName).style.display = "block";
                evt.currentTarget.className += " active";
            }

            // Get the element with id="defaultOpen" and click on it
            //document.getElementById("defaultOpen").click();

            $(".navbar-link").click(function () {
                $(".navbar-link").each(function () {
                    console.log($(this));
                    $(this).removeClass("active");
                });

                console.log("active class = @ViewBag.ActiveClass");
                
            });


        </script>
        @RenderSection("Scripts", required: false)
    </section>
</body>
</html>
