@model InventoryControl.Areas.INV.Models.MAViewModel
@{
    ViewData["Title"] = "Proses Moving Average";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<h1><i class="fa fa-cog fa-spin"></i> @ViewData["Title"]</h1>

<div class="card">
    <div class="card-body">
        <div class="card-form">
            <div class="card-label _40">Periode Terakhir </div>
            <div class="form-control _60">
                : <input type="text" id="txt-lastmonth" value="@Model.LastMonth" class="disabled" />
            </div>
        </div>
        <div class="card-form">
            <div class="card-label _40">Jumlah Periode Pendukung (Bulan) </div>
            <div class="form-control _60">
                : <input type="text" id="txt-prevmonth" value="@Model.PrevMonth" />
            </div>
        </div>
        <div class="card-form">
            <div class="card-label _40">Jumlah Periode Diprediksi (Bulan) </div>
            <div class="form-control _60">
                : <input type="text" id="txt-predmonth" value="@Model.PredMonth" />
            </div>
        </div>
        <div class="card-form">
            <div class="card-label _40">Bidang </div>
            <div class="form-control _60">
                : @Html.DropDownList("KdOrg", new SelectList(ViewBag.SelectBidang, "Id", "Nama"))
            </div>
        </div>
        <div class="card-form">
            <div class="card-label _40"></div>
            <div class="card-label _60">
                <div style="display:flex">
                    <button type="button" class="btn btn-success" id="btn-show">Lihat Data</button>
                    <button type="button" class="btn btn-info" id="btn-proses">Proses Dengan Moving Average</button>
                </div>

            </div>
        </div>

    </div>
</div>

<div class="card">
    <div class="card-header">
        <div class="card-title">
            <h2>Hasil Prediksi Barang Berdasarkan Bidang</h2>
        </div>
    </div>
    <div class="card-body" id="tbl-predicted">

    </div>
</div>

@section Scripts{
    <script type="text/javascript">
        $("#@ViewBag.ActiveClass").addClass("active");
        var prevMonth = $("#txt-prevmonth").val();
        var predMonth = $("#txt-predmonth").val();
        var kdOrg = $("#KdOrg").val();
        getPredictedItem(prevMonth, predMonth, kdOrg);

        $("#btn-proses").click(function () {
            console.log("test");
            var prevMonth = $("#txt-prevmonth").val();
            var predMonth = $("#txt-predmonth").val();
            var kdOrg = $("#KdOrg").val();

            if (prevMonth == null || prevMonth == "" || predMonth == null || predMonth == "" || kdOrg == null || kdOrg == "") {
                alert("Jumlah Periode Pendukung, Jumlah Periode Diprediksi dan  Bidang harus diisi!");
            } else {
                console.log("Silakan tunggu...........");
                //showLoadPanel();
                showBusyIndicator("body");
                $.ajax({
                    url: '/INV/ApiMovingAverage/ProsesMovingAverage/',
                    method: "POST",
                    data:
                    {
                        prevMonth: prevMonth,
                        predMonth: predMonth,
                        kdOrg: kdOrg,
                        isForce: true
                    }
                })
                    .done(function (result) {
                        stopBusyIndicator();
                        console.log(result);
                        getPredictedItem(prevMonth, predMonth, kdOrg);

                    });
            }

        });

        function getPredictedItem(prevMonth, predMonth, kdOrg) {
            //showBusyIndicator("body");
            $.ajax({
                url: '/INV/ApiMovingAverage/GetPredictedItem/',
                method: "GET",
                data:
                {
                    prevMonth: prevMonth,
                    predMonth: predMonth,
                    kdOrg: kdOrg,
                }
            })
                .done(function (result) {
                    //stopBusyIndicator();
                    console.log(result);
                    $("#tbl-predicted").html("");
                    $("#tbl-predicted").append(result);
                });
        }

        $("#btn-show").click(function () {
            var prevMonth = $("#txt-prevmonth").val();
            var predMonth = $("#txt-predmonth").val();
            var kdOrg = $("#KdOrg").val();
            getPredictedItem(prevMonth, predMonth, kdOrg);
        });

    </script>
}

