@model InventoryControl.Areas.INV.Models.AprioriViewModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Proses Apriori";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<h1><i class="fa fa-cog fa-spin"></i> @ViewData["Title"]</h1>

<div class="card">
    <div class="card-body">
        <div class="card-form">
            <div class="card-label _20">Min Support </div>
            <div class="form-control _80">
                : <input type="text" id="txt-minsupport" value="@Model.MinSupport"/>
            </div>
        </div>
        <div class="card-form">
            <div class="card-label _20">Min Confidence </div>
            <div class="form-control _80">
                : <input type="text" id="txt-minconfidence" value="@Model.MinConfidence"/>
            </div>
        </div>
        <div class="card-form">
            <div class="card-label _20">Bidang </div>
            <div class="form-control _80">
                : @Html.DropDownList("KdOrg", new SelectList(ViewBag.SelectBidang, "Id", "Nama"))
            </div>
        </div>
        <div class="card-form">
            <div class="card-label _20"></div>
            <div class="card-label _80">
                <div style="flex">
                    <button type="button" class="btn btn-success" id="btn-show">Lihat Data</button>
                    <button type="button" class="btn btn-info" id="btn-proses">Proses Dengan Apriori</button>
                </div>
                
            </div>
        </div>
    </div>
</div>

<div class="card">
    <div class="card-header">
        <div class="card-title">
            <h2>Support Count</h2>
        </div>
    </div>
    <div class="card-body" id="tbl-support">
        
    </div>
</div>
<div class="card">
    <div class="card-header">
        <div class="card-title">
            <h2>Association Rules</h2>
        </div>
    </div>
    <div class="card-body" id="tbl-rules">
    </div>
</div>


@section Styles{
    <style>
        .card-form {
            display: flex;
            margin-bottom: 10px;
        }

        ._20 {
            width: 20%;
        }

        .form-control {
            display: block;
            width: 100%;
        }

        .btn {
            height: 40px;
            color: #ffffff;
            background-color: #86134c;
            padding: 5px 10px 5px 10px;
            border-color: #86134c;
            border-radius: 25px;
        }

        .pager {
            margin-top: 40px;
        }

        .devider {
            margin-left: 20px;
        }
    </style>
}

@section Scripts{
    <script type="text/javascript">
        var defaultKdOrg = "@Model.DefaultKdOrg";
        var minSupport = parseInt("@Model.MinSupport");
        var minConfidence = parseInt("@Model.MinConfidence");

        getSupport(minSupport, minConfidence, defaultKdOrg);
        getRules(defaultKdOrg);

        $("#btn-show").click(function () {
            var minsupport = $("#txt-minsupport").val();
            var minconfidence = $("#txt-minconfidence").val();
            var kdOrg = $("#KdOrg").val();
            getSupport(minSupport, minConfidence, kdOrg);
            getRules(kdOrg);
        });

        $("#btn-proses").click(function () {
            var minsupport = $("#txt-minsupport").val();
            var minconfidence = $("#txt-minconfidence").val();
            var kdOrg = $("#KdOrg").val();

            console.log(minsupport);
            if (minsupport == null || minsupport == "" || minconfidence == null || minconfidence == "" || kdOrg == null || kdOrg == "") {
                alert("Minimum Support, Minimum Confidence, dan Bidang harus diisi!");
            } else {
                console.log("Silakan tunggu...........");
                //showLoadPanel();
                showBusyIndicator("body");
                $.ajax({
                    url: '/INV/ApiApriori/ProsesApriori/',
                    method: "POST",
                    data:
                    {
                        minsupport: minsupport,
                        minconfidence: minconfidence,
                        kdOrg: kdOrg,
                        isForce: true
                    }
                })
                .done(function (result) {
                    stopBusyIndicator();
                    console.log(result);
                    $("#tbl-support").html("");
                    result.forEach(function (item) {

                        $("#tbl-support").append("<tr><td>" + $("#KdOrg option:selected").text() + "</td><td>" + item.startDate + "</td><td>" + item.itemList + "</td><td>" + item.label + "</td><td>" + item.support + "</td></tr>");
                    })

                    getRules(kdOrg);
                });
            }

        });

        $("#@ViewBag.ActiveClass").addClass("active");

        function getSupport(minSupport, minConfidence, kdOrg) {
            //showBusyIndicator("body");
            $.ajax({
                url: '/INV/ApiApriori/GetSupport/',
                method: "GET",
                data:
                {
                    minSupport: minSupport,
                    minConfidence: minConfidence,
                    kdOrg: kdOrg
                }
            })
                .done(function (result) {
                    //stopBusyIndicator();
                    console.log(result);
                    $("#tbl-support").html("");
                    $("#tbl-support").append(result);
                });
        }

        function getRules(kdOrg) {
            //showBusyIndicator("body");
            $.ajax({
                url: '/INV/ApiApriori/GetRules/',
                method: "GET",
                data:
                {
                    kdOrg: kdOrg
                }
            })
                .done(function (result) {
                    //stopBusyIndicator();
                    console.log(result);
                    $("#tbl-rules").html("");
                    $("#tbl-rules").append(result);
                });
        }

    </script>
}