@model InventoryControl.Models.Components.PaginatedList<InventoryControl.Data.Views.vw_Request>
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Proses Apriori";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<h1><i class="fa fa-cog fa-spin"></i> @ViewData["Title"]</h1>

<div class="card">
    <div class="card-body">
        <div class="card-form">
            <div class="card-label _20">Min Support </div>
            <div class="form-control _80">
                : <input type="text" id="txt-minsupport" value="2"/>
            </div>
        </div>
        <div class="card-form">
            <div class="card-label _20">Min Confidence </div>
            <div class="form-control _80">
                : <input type="text" id="txt-minconfidence" value="60"/>
            </div>
        </div>
        <div class="card-form">
            <div class="card-label _20">Bidang </div>
            <div class="form-control _80">
                : @Html.DropDownList("KdOrg", new SelectList(ViewBag.SelectBidang, "Id", "Nama"))
            </div>
        </div>
        <div class="card-form">
            <div class="card-label _20"></div>
            <div class="card-label _80">
                <button type="button" class="btn btn-info" id="btn-proses">Proses Dengan Apriori</button>
            </div>
        </div>
    </div>
</div>
<div class="card" id="card-request">
    <div class="card-body">
        <table style="width:100%;table-layout:fixed;" >
            <thead>
                <tr>
                    <th style="width:20%;">Tanggal Permintaan</th>
                    <th style="width:80%;">Item yang diminta</th>
                </tr>

                @foreach (var item in Model.OrderByDescending(x => x.CreatedDate))
                {
                    <tr>
                        <td style="width:20%;" class="_center">@item.StrCreatedDate</td>
                        <td style="width:80%;">@item.ItemList</td>
                    </tr>
                }
            </thead>
        </table>
        @{
            var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
            var nextDisabled = !Model.HasNextPage ? "disabled" : "";
        }
        <div class="pager">
            <a asp-action="Index" asp-route-pageNumber="@(Model.PageIndex - 1)" class="btn btn-default @prevDisabled">Previous</a>
            <span class="devider"></span>
            <a asp-action="Index"
               asp-route-pageNumber="@(Model.PageIndex + 1)"
               class="btn btn-default @nextDisabled">
                Next
            </a>
        </div>

    </div>
</div>
<div class="card">
    <div class="card-body">
        <table id="tbl-support">
            <tr>
                <th>Bidang</th>
                <th>Start Date</th>
                <th>End Date</th>
                <th>Label</th>
                <th>Support</th>
            </tr>
        </table>
    </div>
</div>

@section Styles{
    <style>
        .card-form {
            display: flex;
            margin-bottom: 10px;
        }

        ._20 {
            width: 20%;
        }

        .form-control {
            display: block;
            width: 100%;
        }

        .btn {
            height: 40px;
            color: #ffffff;
            background-color: #86134c;
            padding: 5px 10px 5px 10px;
            border-color: #86134c;
            border-radius: 25px;
        }

        .pager {
            margin-top: 40px;
        }

        .devider {
            margin-left: 20px;
        }
    </style>
}

@section Scripts{
    <script type="text/javascript">

        $("#btn-proses").click(function () {
            var minsupport = $("#txt-minsupport").val();
            var minconfidence = $("#txt-minconfidence").val();
            var kdOrg = $("#KdOrg").val();

            console.log(minsupport);
            if (minsupport == null || minsupport == "" || minconfidence == null || minconfidence == "" || kdOrg == null || kdOrg == "") {
                alert("Minimum Support, Minimum Confidence, dan Bidang harus diisi!");
            } else {
                console.log("Silakan tunggu...........");
                //showLoadPanel();
                //showBusyIndicator("body");
                $.ajax({
                    url: '/INV/ApiApriori/ProsesApriori/',
                    method: "POST",
                    data:
                    {
                        minsupport: minsupport,
                        minconfidence: minconfidence,
                        kdOrg: kdOrg,
                        isForce: true
                    }
                })
                .done(function (result) {
                    //hideLoadPanel();
                    console.log(result);
                    result.forEach(function (item) {
                        $("#tbl-support").append("<tr><td>" + $("#KdOrg option:selected").text() + "</td><td>" + item.startDate + "</td><td>" + item.endDate + "</td><td>" + item.label + "</td><td>" + item.support + "</td></tr>");
                    })
                });
            }

        });

        $("#@ViewBag.ActiveClass").addClass("active");


    </script>
}