@model InventoryControl.Models.Components.PaginatedList<InventoryControl.Data.Views.vw_Request>
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewData["Title"] = "Permintaan Bidang";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<h1>@ViewData["Title"]</h1>
<div class="card" id="card-request">
    <div class="card-body">
        <table style="width:100%;table-layout:fixed;">
            <thead>
                <tr>
                    <th style="width:20%;">Tanggal Permintaan</th>
                    <th style="width:80%;">Item yang diminta</th>
                </tr>

                @foreach (var item in Model.OrderByDescending(x => x.CreatedDate))
                {
                    <tr>
                        <td style="width:20%;" class="_center">@item.StrCreatedDate</td>
                        <td style="width:80%;">@item.ItemList</td>
                    </tr>
                }
            </thead>
        </table>
        @{
            var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
            var nextDisabled = !Model.HasNextPage ? "disabled" : "";
        }
        <div class="pager">
            <a asp-action="Index" asp-route-pageNumber="@(Model.PageIndex - 1)" class="btn btn-default @prevDisabled">Previous</a>
            <span class="devider"></span>
            <a asp-action="Index"
               asp-route-pageNumber="@(Model.PageIndex + 1)"
               class="btn btn-default @nextDisabled">
                Next
            </a>
        </div>

    </div>
</div>

@section Scripts{
    <script type="text/javascript">
        $("#@ViewBag.ActiveClass").addClass("active");
    </script>

}