@model List<InventoryControl.Models.RequestHeader>
@{
    ViewData["Title"] = "Landing Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<header>
    <h2>Landing Page</h2>
</header>

<section>
    <nav>
        <ul>
            <li><a href="#">Landing</a></li>
            <li><a href="#">Master Satuan</a></li>
            <li><a href="#">Master Item</a></li>
            <li><a href="#">Stok</a></li>
        </ul>
    </nav>

    <article>
        <h1>@ViewData["Title"]</h1>
        @foreach (var table in Model)
        {
            <table border="1" style="width:100%;border-collapse:collapse;">
                <tr>
                    <td>Request Id</td>
                    <td>Created By</td>
                    <td>Created Date</td>
                </tr>
                <tr>
                    <td>@table.Id.ToString()</td>
                    <td>@table.CreatedBy.ToString()</td>
                    <td>@table.CreatedDate?.ToString("yyyy-mmm-dd")</td>
                </tr>
                <tr>
                    <td colspan="3">
                        <table border="1" style="margin: 5px 5px 5px 5px; width: 100%; border-collapse: collapse;">
                            <tr>
                                <td>Id</td>
                                <td>Nama Barang</td>
                                <td>Jumlah</td>
                            </tr>
                            @foreach(var item in table.RequestItem)
                            {
                                <tr>
                                    <td>@item.Id.ToString()</td>
                                    <td>@item.MstItem.Nama</td>
                                    <td>@item.Jumlah</td>
                                </tr>
                            }
                        </table>
                    </td>
                </tr>
            </table>
        }


    </article>
</section>

<footer>
    <p>Footer</p>
</footer>


@section Styles{
    <link href="~/css/landing.css" rel="stylesheet" />
}

